name: CI

on: [push, pull_request]

jobs:
  build:
    # Prevent duplicate builds on internal PRs.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - name: Install coveralls
        run: sudo gem install coveralls-lcov 

      - name: Run tests
        run: bash tool/ci.sh
